fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.9
pymupdf==1.24.1
pdfplumber==0.11.0
pillow==10.2.0
requests==2.31.0
langchain==0.1.16
langchain-community==0.0.34
chromadb==0.4.24
sentence-transformers==2.7.0
langchain-text-splitters==0.0.1
jinja2==3.1.3